<mat-toolbar>
  Weather App
  <button *ngIf="ListOfFavoriteCities.length > 0" mat-button [matMenuTriggerFor]="menu">
    <mat-icon style="margin-right: 0.5rem">favorite</mat-icon>
    Saved Cities
  </button>
  <mat-menu #menu="matMenu">
    <button (click)="EmitClickOnCity(city)" *ngFor="let city of ListOfFavoriteCities" mat-menu-item>{{city}}</button>
  </mat-menu>
</mat-toolbar>
<div class="app-wrapper">
  <app-city-input-component></app-city-input-component>
  <div *ngIf="this.error; else successResponse">
    <mat-card>
      <h1>Error code: {{error?.cod}}</h1>
      <h3>Message: {{error?.message}}</h3>
    </mat-card>
  </div>
  <ng-template #successResponse>
    <app-current-weather></app-current-weather>
    <app-forecast-weather></app-forecast-weather>
  </ng-template>
</div>

