<div *ngIf="weather">
  <div style="display: flex; align-items: center; gap: 0.5rem; height:50px">
    <span>{{weather.name}}, {{weather.sys.country}}</span>
    <div>
      <button *ngIf="!CheckIsCityAlreadyInFavoriteList(weather.name)" (click)="AddCityToCityList(weather.name)"
              matTooltip="Add city to favorite cities" mat-icon-button color="accent">
        <mat-icon>favorite</mat-icon>
      </button>
    </div>
  </div>
  <app-weather-card [weather]="weather"></app-weather-card>
</div>

